@import "tailwindcss";

@theme {
  --color-page-bg: rgb(244, 208, 78);
  --color-component-bg: rgb(255, 255, 255);
  --color-text-fg: rgb(17, 17, 17);
  --color-subtext-fg: rgb(107, 107, 107);
  --color-hover-bg: rgb(243, 244, 246);
  --font-display: Figtree, serif;
  --breakpoint-ll: 69.25rem;
  --breakpoint-mt: 39.25rem;
}

@utility theme {
  @apply bg-component-bg border-solid border-text-fg;
}

@utility line-align-* {
  @apply flex items-center;
  gap: calc(--spacing(1) * --value(integer));
}

@layer base {
  body {
    @apply font-display text-base bg-page-bg text-text-fg;
  }

  #root {
    @apply flex justify-center overflow-hidden;
  }

  section > *:not(details), summary {
    @apply py-2 px-4 rounded-4xl border border-solid border-text-fg;
  }

  button, summary, label {
    @apply transition-colors duration-300 hover:bg-hover-bg hover:cursor-pointer;
  }

  summary::-webkit-details-marker, summary::marker {
    @apply hidden;
  }

  svg {
    @apply text-subtext-fg;
  }
}

@layer components {
  .card {
    @apply theme rounded-3xl gap-4 border-2 shadow-xl;
  }
}